.dashboardScreen {
    padding-top: 15vh;
    height: 100vh;
    background-color: #f1f4fb;
    background-image: url("../Assets/lawyer.jpg");
    padding-left: 10px;
    padding-right: 10px;
  }
 
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .dashboardScreen button {
    margin-bottom: 10px !important;
    background-color: #7e352e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
  }

  .dashboardScreen button:hover{
    background-color: #784444;
  }

.dashboardScreen {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ui.buttons{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.ui.button.primary {
  background-color: #7e352e !important; 
  color: white !important; 
  border-radius: 0.75rem !important; 
}

.ui.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.24); 
  border-color: black;
  border-radius: 9% !important; 
  width: 50rem;
  max-width: 90%;
  margin: 1cm;
  opacity: 80%;

}

.ui.card .description {
  display: flex; 
  flex-direction: column; 
  white-space: wrap; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  max-height: 5rem; 
}

  @media (max-width: 768px) {
    .dashboardScreen {
      padding-top: 60px; 
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }