.upload-container {
  margin-bottom: 20px;
}

.form-label {
  margin-right: 10px;
}

.button {
  margin-top: 10px;
}

.upload-container,
.file-container , .admin-container{
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  flex: 1;
  background-color: rgba(16, 15, 15, 0.8);
  border-radius: 7px;
  border: 1px solid #ddd; 
}

.upload-container h3,
.file-container h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #211e1e;
}

.upload-container li,
.file-container li {
  font-size: 15px;
  color: #666;
  margin-bottom: 3px;
}

.upload-container button {
  background-color: #7e352e;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.upload-container button:hover {
  background-color: #303132;
}

/* body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: aliceblue;
  background-image: url("../../Assets/lawyer.jpg");

} */
