.upload-container {
    margin-bottom: 20px; /* Add space below the entire div */
  }
  
  .form-label {
    margin-right: 10px; /* Add space between the input and label */
  }
  
  .button {
    margin-top: 10px; /* Add space above the button */
  }
  