body {
  background-image: url("../../Assets/home.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8); 
  height: 100vh;
  margin: 0;
}

.content-container {
  flex: 1; 
  color: white; 
  text-align: center; 
  padding: 50px; 
  margin-top: 70px; 
}

.home-container .content-container p{
  font-family: 15px;
}
.contact-us-button {
  background-color: #af4c4c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.contact-us-button:hover {
  background-color: #6d2f2f; 

}
.home-container .content-container h1{
  font-size: 50px;
}

.circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; 
}

.circle-lawyers, .circle-clients, .circle-judges {
  color: white;
  text-align: center; 
  line-height: 300px; 
  font-size: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.circle {
  width: 250px; 
  height: 250px;
  background-color: rgba(175, 76, 76, 0.8);
  border-radius: 50%;
  margin: 50px; 
  font-size: 40px; 
  text-align: center; 
  position: relative;
  cursor: pointer; 
}

.circle:hover {
  background-color: rgb(109, 47, 47, 0.8); 
}

.lawyers-section {
  /* Style the lawyers section here */
  background-color: #f0f0f0; /* Optional background color */
  padding: 50px; 
  text-align: center; 
}

.button-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.button-container a {
  
  width: 150px;
  font-size: 14px;
  text-align: center; 
  margin: 5px; 
}

.button-container a button {
  background-color: #af4c4c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-container a button:hover{
  background-color: #6d2f2f; 
}