.sign--bod{
  background-image: url("../../Assets/login.jpg") ;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 100px;
}

.Signup--wrapper {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(197, 194, 194, 0.2);
  backdrop-filter: blur(20px);
  color: #030202;
  border-radius: 10px;
  padding: 40px 40px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .Signup--wrapper {
    margin-top: 60px ; 
  }
}

.Signup--wrapper h1{
  font-size: 36px;
  text-align: center;
  color: rgb(221, 220, 220);
}

.Signup--wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(146, 86, 86, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #cccccc;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #7d7d7d;
}

.input-box .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.Signup--wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.Signupformbutton {
  margin-top: 30px;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid rgba(146, 86, 86, 0.2);
  outline: none;
  border-radius: 45px;
  box-shadow: 0 0 15px rgba(137, 135, 135, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #646363;
  font-weight: 700;
}

.Signupformbutton:hover{
  background-color: #c3c1c1;
}

.Signup--wrapper p{
  color: rgb(182, 181, 181);
}

.Signup--wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #5f5d5d;
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
}

.register-link p a:hover{
  text-decoration: underline;
}

.register-link .icon{
  position: absolute;
  right: 20px;
  top: 10%;
  transform: translateY(-60%);
  font-size: 26px;
}
