@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  /*display: flex;*/
  min-height: 100vh;
  background: rgb(238, 237, 241);
}

@media (max-width: 768px) {
  body {
    padding-top: 60px; /* adjust for navbar height */
  }
}